@font-face {
  font-family: "Associate Sans";
  src: url("../public/fonts/AssociateSans-Extralight.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Associate Sans";
  src: url("../public/fonts/AssociateSans-Light.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Associate Sans";
  src: url("../public/fonts/AssociateSans-Regular.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Associate Sans";
  src: url("../public/fonts/AssociateSans-Medium.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Associate Sans";
  src: url("../public/fonts/AssociateSans-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Source Sans";
  src: url("../public/fonts/SourceSansPro-Regular.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Associate Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  max-width: auto;
}

nav {
  display: flex;
  background-color: white;
  padding-left: 30px;
  padding-right: 20px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(220, 219, 219);
}

nav a {
  margin-right: 25px;
  font-size: 16px;
}

nav h1 {
  margin: 0;
  font-size: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgb(220, 219, 219);
}

footer p {
  font-size: 0.9rem;
}

footer a {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-decoration: underline;
}


@media (max-width: 600px) {
  nav {
    display: flex;
    background-color: white;
    padding-left: 25px;
    padding-right: 10px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(220, 219, 219);
  }
}